<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Util.CommonVariables"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Electric"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".mvc.Activity.LoginMVCActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".mvc.Activity.LookOneDeviceActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".mvvm.Activity.UserAccountActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".My.Account.ModifyPhoneActivity"
            android:exported="false"
            android:label="修改手机号">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LoginRegisterActivity"
            android:exported="false"
            android:label="注册账号">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LoginForgetActivity"
            android:exported="false"
            android:label="忘记密码">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Add.AddDeviceInRoomActivity"
            android:exported="false"
            android:label="添加设备">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Add.AddUserInRoomActivity"
            android:exported="false"
            android:label="邀请成员">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Add.AddFamilyActivity"
            android:exported="false"
            android:label="新建家庭">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".My.Device.DeviceInRoomActivity"
            android:exported="false"
            android:label="查看设备">
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".My.Family.ModifyRoomNameActivity"
            android:exported="false"
            android:label="修改家庭信息">
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".My.Family.ManageUserInRoomActivity"
            android:exported="false"
            android:label="管理家庭用户">
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".My.Family.ManageDeviceInRoomActivity"
            android:exported="false"
            android:label="管理家庭设备">
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".My.Account.ModifyAddressActivity"
            android:exported="false"
            android:label="修改地址">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".My.MyMessageActivity"
            android:exported="false"
            android:label="系统消息">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Notice.NoticeInActivity"
            android:exported="false"
            android:label="告警信息">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".My.Family.ManageFamily"
            android:exported="false"
            android:label="管理家庭信息">
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".My.MyFamilyActivity"
            android:exported="false"
            android:label="管理家庭">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".My.MyAccountActivity"
            android:exported="false"
            android:label="我的账号">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".My.MyDeviceActivity"
            android:exported="false"
            android:label="管理设备">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LoginMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>